<h1>Admin Portal</h1>
<hr>
<h2>Create New Student</h2>
<h3>Refresh after creation to update list</h3>
<%= form_for @student, :remote => true, :html => {:'data-type' => 'json', :multipart => true} do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :season %>
  <%= f.text_field :season%>
  <%= f.label :year %>
  <%= f.number_field :year %>
  <%= f.label :github_username %>
  <%= f.text_field :github_username %>
  <%= f.submit %>
<% end %>

<hr>

<h2>All Students</h2>
<h3>Caution! Deleting a student is PERMANENT!</h3>
<% @students.each do |student| %>
  <p><%= link_to student.name, student_path(student) %> - <%= student.season %> <%= student.year %> - <%= link_to "delete", student_path(student), method: :delete %></p>
<% end %>
