<h2><%= @student.name %></h2>
<p>season: <%= @student.season %></p>
<p>year: <%= @student.year %></p>
<p>email: <%= @student.email %></p>
<img src=<%= @student.avatar %> />
<p>current location: <%= @student.current_location %></p>
<p>hireable: <%= @student.hireable %></p>
<p>github username: <%= @student.github_username %></p>
<p>bio: <%= @student.bio %></p>
<p>top project: <%= @student.project %></p>
<p>personal url: <%= @student.html_url%></p>
<p>linked in url: <%= @student.linked_in_url %></p>
